<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.core.mapper.FichaEventoMapper">

    <resultMap id="ListItemResult" type="com.clover.core.model.ListItemModel">
        <id 	column="id_evento" 	property="id" />
        <result column="titulo" 	property="titulo" />
        <result column="fecha" 		property="fecha" />
    </resultMap>

    <select id="getGeneral" resultType="java.util.HashMap">
        SELECT
			titulo,
			UPPER(DATE_FORMAT(fecha, '%d %b')) as fecha,
			DATE_FORMAT(fecha, '%H:%i') as hora,
            CONCAT(CONVERT(sum(precio), CHAR), ' €') as precioPersona,
            concat(sum(precio) * asistentes, ' €') as precioTotal
        FROM
        	evento,
            actividad,
            (
                SELECT
                    count(1) as asistentes
                FROM
                    usu_even
                WHERE
                    id_evento = #{idEvento}
            ) aux
        WHERE
            id_actividad IN (
                SELECT
                    id_actividad
                FROM
                    even_act
                WHERE
                    id_evento = #{idEvento}
            )
            AND
        	id_evento = #{idEvento}
    </select>

    <select id="getAsistentes" resultType="java.util.HashMap">
        SELECT
			id_usuario as id,
			nombre,
			picture
        FROM
        	usuario
        WHERE
        	id_usuario IN (
        		SELECT 
        			id_usuario
        		FROM
        			usu_even
        		WHERE
        			id_evento = #{idEvento}
        	)
    </select>

    <select id="getActividades" resultType="java.util.HashMap">
        SELECT
		    a.nombre,
		    em.nombre AS nombreEmpresa,
		    em.lat,
		    em.lon,
		    a.precio,
		    DATE_FORMAT(ev.fecha,'%d/%m') as fecha,
		    DATE_FORMAT(ev.fecha,'%H:%i') as hora
		FROM
		    actividad a,
		    empresa em,
		    evento ev
		WHERE
		    a.id_empresa = em.id_empresa
		    AND a.tipo = 'R'
		    AND id_actividad IN (
		        SELECT 
		            id_actividad
		        FROM
		            even_act
		        WHERE
		            id_evento = #{idEvento}
		    )
		    AND ev.id_evento = #{idEvento}
		UNION 
		SELECT
		    a.nombre,
		    em.nombre AS nombreEmpresa,
		    em.lat,
		    em.lon,
		    a.precio,
		    DATE_FORMAT(DATE_ADD(ev.fecha, INTERVAL 1 DAY),'%d/%m') as fecha,
		    '00:00' as hora
		FROM
		    actividad a,
		    empresa em,
		    evento ev
		WHERE
		    a.id_empresa = em.id_empresa
		    AND a.tipo = 'C'
		    AND id_actividad IN (
		        SELECT 
		            id_actividad
		        FROM
		            even_act
		        WHERE
		            id_evento = #{idEvento}
		    )
		    AND ev.id_evento = #{idEvento}
		ORDER BY fecha, hora
    </select>
</mapper>