<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.core.mapper.FichaEventoMapper">

    <resultMap id="ListItemResult" type="com.clover.core.model.ListItemModel">
        <id 	column="id_evento" 	property="id" />
        <result column="titulo" 	property="titulo" />
        <result column="fecha" 		property="fecha" />
    </resultMap>

    <select id="getGeneral" resultType="java.util.HashMap">
        SELECT
			titulo,
			fecha,
            sum(precio) as precioPersona,
            sum(precio) * asistentes as precioTotal
        FROM
        	evento,
            actividad,
            (
                SELECT
                    count(1) as asistentes
                FROM
                    usu_even
                WHERE
                    id_evento = #{idEvento}
            ) aux
        WHERE
            id_actividad IN (
                SELECT
                    id_actividad
                FROM
                    even_act
                WHERE
                    id_evento = #{idEvento}
            )
            AND
        	id_evento = #{idEvento}
    </select>

    <select id="getAsistentes" resultType="java.util.HashMap">
        SELECT
			id_usuario as id,
			nombre,
			picture
        FROM
        	usuario
        WHERE
        	id_usuario IN (
        		SELECT 
        			id_usuario
        		FROM
        			usu_even
        		WHERE
        			id_evento = #{idEvento}
        	)
    </select>

    <select id="getActividades" resultType="java.util.HashMap">
        SELECT
			a.nombre,
			e.nombre AS nombreEmpresa,
			e.lat,
			e.lon,
			a.precio
        FROM
        	actividad a,
        	empresa e
        WHERE
        	id_actividad IN (
        		SELECT 
        			id_actividad
        		FROM
        			even_act
        		WHERE
        			id_evento = #{idEvento}
        	)
            AND
            a.id_empresa = e.id_empresa
    </select>
</mapper>