<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clover.core.mapper.LoginMapper">

    <select id="getUsuario" resultType="java.util.HashMap">
        SELECT
			id_usuario as id,
			nombre,
			picture
        FROM
        	usuario
        WHERE
        	id_usuario IN (
        		SELECT 
        			id_usuario
        		FROM
        			usu_even
        		WHERE
        			id_evento = #{idEvento}
        	)
    </select>
    
</mapper>